PROXMOX_HOST=192.168.8.75
PROXMOX_USER=mcp-agent@pve
PROXMOX_TOKEN_NAME=mcp-server-readonly
PROXMOX_TOKEN_VALUE=
PROXMOX_WRITE_TOKEN_NAME=mcp-agent-write
PROXMOX_WRITE_TOKEN_VALUE=
PROXMOX_VERIFY_SSL=false

PORTAINER_HOST=https://192.168.8.82:9443
PORTAINER_API_KEY=
PORTAINER_ENDPOINT_ID=3
PORTAINER_VERIFY_SSL=false
